.main-wrapper {
    border:5px black solid;
   
    position:absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   text-align: center;
    padding-bottom:2%;
    margin-left:40%;
}