* {
   background-color: rgb(162, 162, 220); 
    text-align: center;
}
.in {
    padding:10px;
    margin-bottom:20px;
}
button {
    padding:10px;
    background-color:rgb(225, 151, 151);
    margin-right:0px;
    margin-bottom:20px;
}
.container {
    border:2px solid white;
}
